<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.touale.ve.mapper.QuestionMapper">


    <select id="getQuestionList" resultType="cn.touale.ve.entity.battle.Question">
        SELECT * FROM ve.Questions order by rand() limit #{size};
    </select>

</mapper>