<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.touale.ve.mapper.VeMapper">


    <select id="getQuestionList" resultType="cn.touale.ve.entity.battle.Question">
        SELECT *
        FROM ve.Questions
        order by rand() limit #{size};
    </select>


    <select id="getRankings" resultType="cn.touale.ve.entity.rankings.Rank">
        SELECT *
        FROM ve.Scoreboard
        order by score desc limit #{size};
    </select>

    <select id="getOneRanking" resultType="cn.touale.ve.entity.rankings.Rank">
        SELECT *
        FROM ve.Scoreboard
        where userName = #{userName};
    </select>


    <insert id="insertRanking" parameterType="cn.touale.ve.entity.rankings.Rank">
        INSERT INTO ve.Scoreboard(userName, score, image, battileNumber) value (#{userName},#{score},#{image},1);
    </insert>


    <update id="updateRanking" parameterType="cn.touale.ve.entity.rankings.Rank">
        UPDATE ve.Scoreboard
        SET score = #{score} + score,image = #{image},battileNumber = battileNumber + 1
        where userName = #{userName};
    </update>

</mapper>